
:root {
	--my-yellow: #e3af66;
	--my-cyan: #48aeb0;
	--my-dcyan: #39a0a2;
	--my-white: #f4f7f6;
	--my-gray: #E3E3E3;
	--my-dark: #343a40;
	--my-lightRed: #ff5656;
	--my-darkRed: #ac3535;
}
body {
	margin: auto;
	font-family: "apercu", sans-serif;
	font-size: 14px;
	background: var(--my-white);
}

h1 {
	margin: 0;
	text-align: center;
}

 body a {
	color: inherit;
}

 body a:hover {
	color: unset;
	text-decoration: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

pre {
	font-size: inherit;
	margin: 0;
}
