module.exports = {
	debug: true,
	localPort: 4000,

	// database config
	dbProxy: 'couch',
	dbHost: 'localhost',
	dbPort: 5984,
	dbUsername: 'admin',
	dbPassword: 'mellowmongoose',

	// clients config
	clientPrefix: 'jh',


}
